

.forecast-hourly {
    display: grid;
    justify-content: center;
    text-align: center;
    justify-items: center;
    gap: 10px;

    &-time {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        color: white;
    }
    
    &-icon {
        font-size: 70px;
        width: 70px;
        height: 70px;
    }

    &-temperature {
        color: white;
        font-size: 25px;
        font-weight: 700;
    }
}


