
.weather-app {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "item1 item3"
    "item2 item3";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: calc(100vh - 103px);
  }
  
  .area1 { grid-area: item1; }
  .area2 { grid-area: item2; }
  .area3 { grid-area: item3; }
  .area4 { grid-area: item4; }