.card-wrapper {
    padding: 20px;
    border-radius: 20px;
    color: #7c838e;
    background-color: #202b3b;
    box-sizing: border-box;

    &-title {
        margin: 0 0 20px 0;
        text-transform: uppercase;
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 20px;
    }

    &-content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        &.inline-content {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
        } 
        
        &.vertical-content {
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }

    
}