.weather-condition {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;

    color: #7c838e;

    &-left {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    &-right {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    &-icon {
        font-size: 40px;
        height: 41px;
        width: 41px;
    }

    &-name {
        font-size: 20px;
        margin: 0;
    }

    &-value {
        font-size: 30px;
        color: #fff;
        margin: 0;
    }
}